@import "~src/sass/variables"

.property-icon
    color: $color-primary
    margin: 0 0.313vw 0 40%
    align-items: center
    justify-content: center
    vertical-align: top
    width: 1vw

.property-icon-not
    color: $color-quaternary
    margin: 0 0.313vw 0 40%
    align-items: center
    justify-content: center
    width: 1vw

.content-toolbar
    background-color: $color-white
    align-content: top
    display: flex
    flex: 1 0 auto
    height: 5.208vw !important

.property-text
    font-size: 0.833vw
    font-weight: bold
    text-align: center
    padding: 0
    margin: 0

.property
    flex: 1 1
    vertical-align: top
    margin-bottom: 1.094vw

.property-bedrooms
    flex: 1 1
    vertical-align: top
    