   <mat-toolbar-row class="content-toolbar">
       <div fxLayout="column" fxLayoutAlign="center center" class="property-bedrooms" >
            <mat-icon svgIcon="bedrooms" aria-hidden="false" class="property-icon" [inline]="true"></mat-icon>
            <p class="property-text">{{adDetail.property.features.bedrooms}} {{adDetail.property.features.bedrooms == 1 ?  "quarto" : "quartos"}}</p>
            <p class="property-text">({{adDetail.property.features.suites}} {{adDetail.property.features.suites == 1 ?  "suíte" : "suítes"}})</p>
        </div>   
        <div fxLayout="column" fxLayoutAlign="center center" class="property" >
                <mat-icon svgIcon="bathrooms" aria-hidden="false" class="property-icon" [inline]="true"></mat-icon>
                <p class="property-text">{{adDetail.property.features.bathrooms}} {{adDetail.property.features.bathrooms == 1 ?  "banheiro" : "banheiros"}}</p>
        </div>   
        <div fxLayout="column" fxLayoutAlign="center center" class="property" >
                <mat-icon svgIcon="parkingSpaces" aria-hidden="false" [ngClass]="adDetail.property.features.parkingSpaces == 1 ? 'property-icon' : 'property-icon-not' " [inline]="true"></mat-icon>
                <p class="property-text">{{adDetail.property.features.parkingSpaces}} {{adDetail.property.features.parkingSpaces == 1 ?  "vaga" : "vaga"}}</p>
        </div>   
        <div fxLayout="column" fxLayoutAlign="center center" class="property" >
                <mat-icon svgIcon="floor" aria-hidden="false" class="property-icon" [inline]="true"></mat-icon>
                <p class="property-text">{{adDetail.property.features.floor}}° andar</p>
        </div>   
        <div fxLayout="column" fxLayoutAlign="center center" class="property" >
                <mat-icon svgIcon="area" aria-hidden="false" class="property-icon" [inline]="true"></mat-icon>
                <p class="property-text">{{adDetail.property.features.area}} m²</p>
        </div>   
        <div fxLayout="column" fxLayoutAlign="center center" class="property" >
                <mat-icon svgIcon="acceptsPet" [ngClass]="adDetail.property.condominiumFeatures.acceptsPet == true ? 'property-icon' : 'property-icon-not' " [inline]="true"></mat-icon>
                <p class="property-text">{{adDetail.property.condominiumFeatures.acceptsPet == true ? "aceita pet" : "não aceita pet"}}</p>
        </div>   
        <div fxLayout="column" fxLayoutAlign="center center" class="property" >
                <mat-icon svgIcon="furnished" aria-hidden="false" [ngClass]="adDetail.property.features.furnished == true ? 'property-icon' : 'property-icon-not' " [inline]="true"></mat-icon>
                <p class="property-text">{{adDetail.property.features.furnished == true ?  "mobiliado" : "não mobiliado"}}</p>
        </div>   
    </mat-toolbar-row>   
