<ngb-carousel *ngIf="photos" [interval]="0" [showNavigationArrows]="showControls" [showNavigationIndicators]="showControls">
    <ng-template ngbSlide *ngFor="let photo of photos">
        <img [src]="photo" alt="Imagem" class="img-carousel">
    </ng-template>
</ngb-carousel>