.img-carousel
    width: 100%
    height: 200px
    border-radius: 0.781vw
    overflow: hidden
    outline: none

.ng-template
    outline: none

.ngb-carousel:focus
    outline: none

.img-carousel:focus
    outline: none