@import "~src/sass/variables"

.mat-card
    padding: 0px !important
    //box-shadow: none !important //TODO decidir box shadow
    height: 90%
    z-index: 999

.mat-icon   
    width: 1vw

.agent-card-fixed
    position: fixed
    top: 12%
    right: 12%
    height: 36.458vw
    width: 23.438vw
    box-shadow: 0 0.417vw 0.417vw 0.417vw rgba(0,0,0,.2), 0 0.417vw 0.417vw 0 rgba(0,0,0,.14), 0 0.417vw 0.417vw 0 rgba(0,0,0,.12) !important
    transform: translate3d(0,0,0)
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)

    .mat-card-title
        font-size: 0.833vw
        font-weight: bold
        margin-bottom: 0px
        margin: 0.417vw 0 0 0.417vw

    .mat-card-subtitle
        font-size: 0.938vw
        margin: 1.563vw 0 0.521vw 0.417vw

.agent-card
    position: absolute
    top: 70%
    right: 12%
    height: 36.458vw
    width: 23.438vw

    .mat-card-title
        font-size: 0.833vw
        font-weight: bold
        margin-bottom: 0px
        margin: 0.417vw 0 0 0.417vw

    .mat-card-subtitle
        font-size: 0.938vw
        margin: 1.563vw 0 0.521vw 0.417vw




.sticky
  position: fixed
  top: 0
  overflow: hidden
  z-index: 10
  width: 100%

.values
    display: flex

.value-text
    flex: 1 0 auto
    text-align: end
    font-size: 1.250vw
    font-weight: semi-bold
    color: $color-primary
    margin: 0.417vw 1.042vw 0 0

.value-text-price
    flex: 1 0 auto
    text-align: end
    font-size: 1.667vw
    font-weight: 800
    color: $color-primary
    margin: 0.417vw 1.042vw 0 0


.title-text 
    flex: 1 0 auto
    font-size: 1.250vw
    font-weight: semi-bold
    color: $color-primary
    margin: 0.417vw 0 0 1.042vw

.title-text-price
    flex: 1 0 auto
    font-size: 1.667vw
    font-weight: 800
    color: $color-primary
    margin: 0.417vw 0 0 1.042vw

.legal-text 
    display: inline
    margin: 0.781vw 0 0 1.042vw

.legal-icon
    color: $color-primary
    margin: 0 0 0 1.042vw
    width: 1.5vw

.vertra-logo
    display: block
    width: 1.667vw
    margin: 0.625vw 0 0 1.823vw

.divider
    color: $color-quaternary
    border: 0.026vw solid
    max-width: 20.833vw
    margin:  0 0 0 1.302vw
    position: relative
    z-index: 1

.img-agent
    height: 2.083vw

.div-agent  
    display: flex
    margin-top: 1.042vw
    position: relative
    z-index: 2

.div-name
    flex: 1 0 auto

.div-indication
    flex: 1 0 auto
    align: end
    margin-left: 2.604vw

.agent-name
    display: inline
    font-size: 0.833vw
    font-weight: bold
    text-align: left
    padding: 0
    margin: 0

.img-agent
    margin: 1.458vw

.indication
    font-size: 0.833vw
    font-weight: bold
    text-align: left
    color: $color-secondary
    padding: 0
    margin: 0

.agent-indication
    font-size: 1.458vw
    font-weight: 800
    text-align: left
    color: $color-secondary
    margin: 0.417vw 0 0 1.823vw

.div-buttons
    display: flex
    justify-content: center
    background-color: #ffffff
    z-index: 2

/* width */
::-webkit-scrollbar 
    width: 0.156vw


/* Track */
::-webkit-scrollbar-track 
    border-radius: 0.521vw


/* Handle */
::-webkit-scrollbar-thumb 
    background: grey
    border-radius: 0.521vw
