<mat-card #stickyMenu [ngClass]="sticky ? 'agent-card-fixed' : 'agent-card'">
    <mat-card-title>
        <div class="values">
            <p class="title-text-price">Valor</p> 
            <p class="value-text-price">R$ {{Value()}}</p>
        </div>
        <div class="values">
            <p class="title-text">IPTU</p> 
            <p class="value-text">R$ {{ValueIptu()}}</p>
        </div> 
        <div class="values"> 
            <p class="title-text">Condomínio</p> 
            <p class="value-text">R$ {{ValueCondominio()}}</p>
        </div>
    </mat-card-title>
    <mat-card-subtitle>
        <p class="legal-text">Em breve prazo de tempo para mudança</p>
        <mat-icon svgIcon="legalStatus" aria-hidden="false" class="legal-icon" [inline]="true"></mat-icon>
    </mat-card-subtitle>
    <mat-card-content [style.overflow]="'auto'" [style.height.vw]="'23.438'">
            <div *ngFor="let agent of adDetail.agents">
                    <mat-divider class="divider"></mat-divider>
                <div class="div-agent">
                    <div class="div-name">
                        <img [src]="agent.coverPhoto" alt="Imagem" class="img-agent">
                        <p class="agent-name">{{agent.name}}</p>
                    </div>
                    <div class="div-indication">
                        <mat-icon  *ngIf="agent.indication==1" svgIcon="vertraLogo" aria-hidden="false" class="vertra-logo" [inline]="true" [inline]="true"></mat-icon>
                        <p *ngIf="agent.indication!==1" class="agent-indication">{{agent.indication}}°</p>
                        <p class="indication">Mais Indicado</p>
                    </div>
                </div>
                <div class="div-buttons">
                        <app-ad-contact [adDetail]="adDetail" [agent]="agent" (contactClick)="contactClick($event)"></app-ad-contact>
                </div>
            </div>
    </mat-card-content>
</mat-card>

