@import "~src/sass/variables"

.mat-icon
    font-size: 1.2vw
    margin-right: 0.2vw

.map
    height: 33.333vw

.header-controls
    text-align: left

.street-view
    height: 33.333vw

.btn-menu-group
        border: none
        margin: 0 0 2% 1%

.btn-menu
    position: relative
    margin-right: 1.042vw
    border: 0.052vw solid $color-quaternary
    color: $color-primary
    border-radius: 0.521vw
    width: 5vw
    height: 2.5vw
    font-size: 0.9vw
    text-align: center

.btn-menu:focus
    outline: none

.btn-menu:hover
    border: 0.052vw solid $color-quaternary
    color: $color-white
    background-color: $color-primary


.mat-button-toggle-checked
    border: 0.052vw solid $color-quaternary
    color: $color-white
    background-color: $color-primary
    outline: none

.buttons
    display: flex
    align-items: center
    justify-content: left

.button-icon
    color: $color-primary

.button-icon_checked
    color: $color-white