<app-header></app-header>
<div class="row">
    <div class="map col-md-6 p-0 m-0" *ngIf="headerContentType === 0">
        <app-map *ngIf="currentAd" [adsData]="adData" [mapZoom]="[16]" [mapCenter]="mapCenter" [adLayerControls]="false">
        </app-map>
    </div>
    <div class="photos col-md-6 p-0 m-0" *ngIf="headerContentType === 0">
            <app-photo-gallery style="width: 100%" *ngIf="currentAd" [photos]="currentAd.property.photos" [groupLength]="4">
            </app-photo-gallery>
    </div>
    <div class="photos col-md-12 p-0 m-0" *ngIf="headerContentType === 1">
        <app-photo-gallery style="width: 100%" *ngIf="currentAd" [photos]="currentAd.property.photos" [groupLength]="2">
        </app-photo-gallery>
    </div>

    <div class="map col-md-12 p-0 m-0" *ngIf="headerContentType === 2">
        <app-map *ngIf="currentAd" [adsData]="adData" [mapZoom]="[16]" [mapCenter]="mapCenter" [adLayerControls]="false">
        </app-map>
    </div>

    <div class="street-view col-md-12 p-0 m-0" *ngIf="headerContentType === 3">
        <app-street-view *ngIf="currentAd" [coordinates]="currentAd.property.coordinates"></app-street-view>
    </div>
</div>
    <div class="header-controls col-md-6 offset-md-1 mt-3">
            <mat-button-toggle-group class="btn-menu-group">
                    <mat-button-toggle mat-stroked-button (click)="changeContentType(0)" class="btn-menu" type="radio" name="btn-menu">
                        <mat-icon >info</mat-icon>
                        Geral
                    </mat-button-toggle>
                    <mat-button-toggle mat-stroked-button (click)="changeContentType(1)" class="btn-menu" type="radio" name="btn-menu">
                        <mat-icon >photo_library</mat-icon>
                        Fotos
                    </mat-button-toggle>
                    <mat-button-toggle mat-stroked-button (click)="changeContentType(2)" class="btn-menu" type="radio" name="btn-menu">
                        <mat-icon >map</mat-icon>
                        Mapa
                    </mat-button-toggle>
                    <mat-button-toggle mat-stroked-button (click)="changeContentType(3)" class="btn-menu" type="radio" name="btn-menu">
                        <mat-icon>streetview</mat-icon>
                        Rua
                    </mat-button-toggle>
    </mat-button-toggle-group>
<!--           <div class="col-md-3">
                <app-ad-contact [ad]="currentAd" (contactClick)="contactClick($event)"></app-ad-contact>
            </div>--> 
        <mat-divider></mat-divider> 
    </div>

<div class="ad-content-div col-md-6 offset-md-1 mt-3">
    <app-ad-content-features [adDetail]="currentAd"></app-ad-content-features>
    <mat-divider></mat-divider>
    <app-ad-content-about [adDetail]="currentAd"></app-ad-content-about>
    <mat-divider></mat-divider>
    <app-ad-content-legal [adDetail]="currentAd"></app-ad-content-legal>
    <mat-divider></mat-divider>
    <app-ad-content-finance [adDetail]="currentAd"></app-ad-content-finance>
    <mat-divider></mat-divider>
    <app-ad-content-why [adDetail]="currentAd"></app-ad-content-why>
    <mat-divider></mat-divider>
</div>
<app-agent-card [adDetail]="currentAd"></app-agent-card>
