@import "~src/sass/variables"
    
.toolbar-header
    display: flex
    position: relative
    background-color: $color-white
    color: $color-white
    box-shadow: 0 0.313vw 0.521vw 0 rgba(0, 0, 0, 0.14), 0 0.052vw 0.938vw 0 rgba(0, 0, 0, 0.12), 0 0.156vw 0.260vw -0.052vw rgba(0, 0, 0, 0.3)
    z-index: 2

.logo-header
    margin-top: 0.729vw
    margin-left: 0.729vw

.ad-search-header
    margin: 1.563vw 0 0 0

.btn-home
    padding: 0px
    margin-bottom: 1.979vw
    margin-right: 1.563vw
    box-shadow: none

.btn-home:focus
    outline: none

.logo   
    width: 140%

.btn-header
    color: $color-primary
    font-size: 1.042vw
    text-align: left
    position: relative
    top: 0.052vw
    padding: 0
    display: inline
    margin: 0 10% 2% 0

.btn-header:focus
    outline: none

.btn-entrar
    color: $color-primary
    font-size: 1.042vw
    text-align: left
    position: relative
    top: 0.052vw
    padding: 0
    display: inline
    margin: 3% 0 2% 8% 

.btn-entrar:focus
    outline: none

.menu-icon
    color: $color-primary
    font-size: 2.604vw
    margin: 0 0 20% 0

.divider 
    color: $color-quaternary
    border: 0.052vw solid
    display: inline
    margin: 0.521vw 3% 0 0
    font-size: 1.823vw

.header-menu
    margin: 0 0 0 60%

.btn-menu:focus
    outline: none