<mat-toolbar class="toolbar-header">
  <mat-toolbar-row>
    <div class="logo-header"> 
      <button mat-icon-button class="btn-home" [routerLink]="['']"><img src ="./../../assets/logos/vertraLogo.svg" class="logo"></button>
    </div>
    <app-ad-search class="ad-search-header"></app-ad-search>
    <div class="header-menu">
        <button mat-button class="btn-header">Comprar</button>
        <button mat-button class="btn-header">Vender</button>
        <button mat-button class="btn-header">Anunciar</button>
        <mat-divider [vertical]="true" class="divider"></mat-divider>
        <button mat-button class="btn-entrar">Entrar</button>
        <button mat-icon-button class="btn-menu"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon></button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
