<mgl-vector-source [id]="layer.id" [url]="layer.url"></mgl-vector-source>
<mgl-layer [id]="layer.id" [type]="layer.type" [source]="layer.id" [layout]="layer.layout" [paint]="layer.style"
  [sourceLayer]="layer.sourceLayer" (mouseMove)="mouseMove($event)" (mouseLeave)="mouseLeave()">
</mgl-layer>
<app-map-store-popup *ngIf="selectedPoint" [feature]="selectedPoint"></app-map-store-popup>