<ngb-carousel *ngIf="photoGroups" [interval]="0" [showNavigationArrows]="true" [showNavigationIndicators]="true">
    <ng-template ngbSlide *ngFor="let group of photoGroups; index as i">
        <img [ngClass]="{'img-one': groupLength === 1, 'img-two': groupLength === 2, 'img-three': groupLength === 3, 'img-four': groupLength === 4}"
            [lightbox]="(i * groupLength) + j" [src]="photo" *ngFor="let photo of group; index as j">
    </ng-template>
</ngb-carousel>