        <p class="title-green">O que preciso para {{adDetail.type == 1 ? "comprar" : "alugar"}} esse imóvel?</p>
<mat-toolbar-row>
        <mat-icon svgIcon="creditCard" aria-hidden="false" [inline]="true"></mat-icon>
        <p class="title">Comprovar financiamento de aproximadamente</p>
</mat-toolbar-row>
        <p class="subtitle">R$ {{financeValue()}},00</p>
        <p class="content-text">O critério pode ser atendido por meio de financiamento externo ou por meio de um de nossos parceiros</p>
<mat-toolbar-row>
        <mat-icon svgIcon="documents" aria-hidden="false" [inline]="true"></mat-icon>
        <p class="title">Enviar documentos digitais e ser provado na análise de crédito</p>
</mat-toolbar-row>
        <p class="content-text">São analisados diversos critérios relacionados ao histórico de rendimento e gastos para traçar o perfil de crédito dos compradores, 
                com base nos comprovantes fornecidos por você, para tornar o processo seguro e eficiente
        </p>
<!-- <a href="https://www.bancointer.com.br/pra-voce/financiamento-imobiliario/residencial?utm_medium=performance&utm_source=google-search&utm_campaign=financiamento&gclid=Cj0KCQjw_5rtBRDxARIsAJfxvYAmO6M7LvH9Q4wujOzHnIPByrQoGu0Ty3maqjKgNVbiocXKKfOxX_caAjG3EALw_wcB" >
<img src="./../../../assets/patrocinadores/inter.png" class="img-patrocinador">
</a> --> 