<mgl-map (load)="map = $event" [style]="mapStyle" [center]="mapCenter" [zoom]="mapZoom" (moveEnd)="onMapMoveEnd()">
  <app-map-ad-layer [data]="adsData" [adSeeOnMap]="adSeeOnMap" [hasControls]="adLayerControls"></app-map-ad-layer>
  <app-map-layer *ngFor="let layer of layers" [layer]="layer" [hasPopup]="true"></app-map-layer>
  <app-map-layer *ngIf="showCityLayer && cityBorder" [layer]="cityBorder"></app-map-layer>
  <app-map-layer *ngIf="showCityLayer && neighborhood" [layer]="neighborhood"></app-map-layer>
</mgl-map>

<div class="map-menu">
    <mat-button-toggle *ngFor="let layer of layers" [value]="layer" (change)="toggleLayer($event)"
     [checked]="layer.layout.visibility === 'visible'"
     class="map-menu-btn">
     <mat-icon svgIcon="{{layer.id}}" ng-class="layer.layout.visibility == 'visible' ? 'layer-icon_checked' : 'layer-icon'"> </mat-icon>
     {{layer.label}}</mat-button-toggle>
    <button mat-stroked-button class="btn-clear-filter" (click)="clearLayers()">
      <mat-icon aria-hidden="false" class="delete-btn">delete</mat-icon>
    </button>
</div>