@import "~src/sass/variables"

.toolbar-map
    display: flex
    position: relative
    background-color: $color-white
    color: white
    border-radius: 0.521vw

mgl-map
    width: 100%
    height: 100%
    // position: absolute

.map-menu
    position: absolute
    top: 1.042vw
    left: 1.042vw
    z-index: 999
    border-radius: 0.521vw

.map-menu-btn
    margin-right: 0px
    margin-right-color: $color-tertiary
    border-right: 0.052vw solid $color-tertiary
    color: $color-primary

.map-menu-btn:hover
    margin-right: 0px
    margin-right-color: $color-tertiary
    border-right: 0.052vw solid $color-tertiary
    color: $color-white
    background-color: $color-secondary


.mat-button-toggle-checked
    margin-right: 0px
    margin-right-color: $color-tertiary
    border-right: 0.052vw solid $color-tertiary
    color: $color-white
    background-color: $color-secondary

.btn-clear-filter
    height: 5.1vh
    width: 1vw
    background-color: $color-primary

.btn-clear-filter:hover 
     height: 5.1vh
     background-color: $color-secondary

.delete-btn
    color: $color-white

.layer-icon
    color: $color-primary

.layer-icon_checked
    color: $color-white





