<mgl-popup *ngIf="showCard" [lngLat]="currentPoint.geometry.coordinates">
  <div style="width: 15.625vw">
    <app-ad-card [adCard]="adCard" [showCarouselControls]="false" [showBtnSeeMap]="false"></app-ad-card>
  </div>
</mgl-popup>