<mat-toolbar-row>
        <mat-icon svgIcon="legalStatus" aria-hidden="false" [inline]="true"></mat-icon>
        <p class="title">Status legal do imóvel</p>
</mat-toolbar-row>
        <p class="content-text">Estamos trabalhando para trazer essa disponibilidade para você. Aqui poderá saber com transparência sobre toda parte legal do imóvel, 
            além de saber em quanto tempo é possível realizar sua mudança.
        </p>
