<div class="div-buttons">
    <button mat-stroked-button class="btn-contact" (click)="onWhatsAppClick($event)">
        <mat-icon svgIcon="whatsapp" aria-hidden="false" [inline]="true"></mat-icon>
        WhatsApp
    </button>
    <button class="btn-contact" *ngIf='!displayModal' mat-stroked-button (click)="onDisplayPhoneClick($event)">
        <mat-icon class="btn-icon" [inline]="true">phone</mat-icon>
        Telefone
    </button>
    <button class="btn-fone" *ngIf='displayModal' mat-stroked-button >
            <p class="fone">+55 {{agent.contact.ddd}} {{agent.contact.fone}}</p>
    </button>
    <button mat-stroked-button class="btn-contact">
        <mat-icon class="btn-icon" [inline]="true">email</mat-icon>
        Email
    </button>
</div>