@import "~src/sass/variables"

.mat-icon   
    width: 1vw

.div-btn
    display: flex

.btn-contact
    display: inline
    flex: 1 0 auto
    align: center
    width: 6.250vw
    border: 0.052vw solid $color-secondary
    color: $color-secondary
    border-radius: 0.521vw
    background-color: $color-white
    z-index: 2
    font-size: 1vw
    padding: 0
    margin: 0 0.4vw 0 0.4vw

.btn-fone
    display: inline
    flex: 1 0 auto
    margin: 0 0.521vw 0 0.521vw
    width: 6.250vw
    border: 0.052vw solid $color-secondary
    color: $color-secondary
    border-radius: 0.521vw
    background-color: $color-white
    z-index: 2
    padding: 0
    font-size: 0.8vw

.btn-contact:hover
    border: 0.052vw solid $color-secondary
    color: $color-white
    background-color: $color-secondary



.fone
    position: relative
    color: $color-secondary
    margin: 0
