<mgl-geojson-source *ngIf="data" id="adsSource" [data]="data">
</mgl-geojson-source>
<mgl-layer *ngIf="data" [id]="adLayer.id" [type]="adLayer.type" source="adsSource" [paint]="adLayer.style"
    (mouseMove)="mouseMove($event)" (mouseLeave)="mouseLeave()" (click)="click($event)">
</mgl-layer>
<app-map-ad-popup [selectedAd]="selectedAd"></app-map-ad-popup>
 