@import "~src/sass/variables"

.example-spacer
  flex: 1 1 auto
  font-size: 0.729vw
  text-align: left
  margin-top: 5%

.select
  font-size: 0.729vw !important

.filter-icon
  height: 120%

.heart-icon
  height: 120%
  color: $color-primary

.btn-heart
  background-color: $color-white
  padding: 0 0.729vw
  margin: 0.365vw

.btn-filter
  background-color: $color-primary
  color: white
  font-weight: normal
  padding: 0 0.729vw
  margin: 0.729vw
