<mat-toolbar class="pl-4 pr-4 pt-0">
  <mat-toolbar-row>
    <p class="example-spacer">Imóveis>Minas Gerais>Belo Horizonte</p> <!--TODO, linkar páginas locais -->
    <button mat-raised-button class="ad-card-btn" mat-button class="btn-filter" (click)="onFilterClick($event)">
      <mat-icon svgIcon="filter" aria-hidden="false" class="filter-icon"></mat-icon>
      Filtrar
    </button>
    <mat-select (selectionChange)="onSelectionOptionFilter($event)" [(ngModel)]="selectedOrder">
        <mat-option class="select" *ngFor="let optionFilter of optionFilters"
         [value]="optionFilter.value" matTooltip="{{optionFilter.toolTip}}">
          {{optionFilter.viewValue}}
        </mat-option>
    </mat-select>
    <button mat-raised-button class="ad-card-btn" mat-button class="btn-heart">
        <mat-icon svgIcon="heart" aria-hidden="false" class="heart-icon"></mat-icon>
        Favoritos
      </button>
  </mat-toolbar-row>
  
</mat-toolbar>
