<mat-form-field class="search" floatLabel="never" appearance="outline">
    <button mat-button  matAffix mat-icon-button  (click)="search()">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
  <input matInput type="text" placeholder="Belo Horizonte, MG, Brasil" [(ngModel)]="word" (keyup.enter)="search()">
    <button mat-button *ngIf="word" matSuffix mat-icon-button aria-label="Clear" (click)="word=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
