@import "~src/sass/variables"

.search
  width: 310%
  color: $color-secondary
  margin-bottom: 13%
  margin-left: 10%
  font-size: 15%

.search-icon
  font-size: 210%

::placeholder 
  color: $color-quaternary
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
  color: $color-secondary
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick
  color: $color-secondary


