<div class="filter-header">
    <mat-toolbar class="pl-4 pr-4 pt-0">
        <mat-toolbar-row>
            <button mat-icon-button (click)="onCloseClick($event)">
                <mat-icon>close</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <button mat-raised-button (click)="onResetClick($event)">Limpar filtros</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="filter-content">
    <div class="filter-content-section">
        <div class="filter-content-section-title">
            <span>Valor</span>
        </div>
        <div class="filter-content-section-content">
            <div class="filter-content-section-content-row">
                <ng5-slider class="slider" [(value)]="this.selectedPriceRange.floor"
                    [(highValue)]="this.selectedPriceRange.ceil" [options]="priceOptions"></ng5-slider>
            </div>
        </div>
    </div>

    <hr class="filter-content-section-separator">

    <div class="filter-content-section">
        <div class="filter-content-section-title">
            Área
        </div>
        <div class="filter-content-section-content">
            <div class="filter-content-section-content-row">
                <ng5-slider class="slider" [(value)]="this.selectedAreaRange.floor"
                    [(highValue)]="this.selectedAreaRange.ceil" [options]="areaOptions"></ng5-slider>
            </div>
        </div>
    </div>

    <hr class="filter-content-section-separator">

    <div class="filter-content-section">
        <div class="filter-content-section-title">
            <span>Quartos</span>
        </div>
        <div class="filter-content-section-content">
            <div class="filter-content-section-content-row">
                <mat-radio-group class="radio-group" [color]="'primary'" [(ngModel)]="selectedRooms">
                    <mat-radio-button class="radio-button" *ngFor="let room of quantities" [value]="room.key">
                        {{ room.value }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <hr class="filter-content-section-separator">

    <div class="filter-content-section">
        <div class="filter-content-section-title">
            <span>Banheiros</span>
        </div>
        <div class="filter-content-section-content">
            <div class="filter-content-section-content-row">
                <mat-radio-group class="radio-group" [color]="'primary'" [(ngModel)]="selectedBathrooms">
                    <mat-radio-button class="radio-button" *ngFor="let room of quantities" [value]="room.key">
                        {{ room.value }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <hr class="filter-content-section-separator">

    <div class="filter-content-section">
        <div class="filter-content-section-title">
            <span>Vagas</span>
        </div>
        <div class="filter-content-section-content">
            <div class="filter-content-section-content-row">
                <mat-radio-group class="radio-group" [color]="'primary'" [(ngModel)]="selectedParkingSpaces">
                    <mat-radio-button class="radio-button" *ngFor="let room of quantities" [value]="room.key">
                        {{ room.value }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <hr class="filter-content-section-separator">

    <div class="filter-content-section">
        <div class="filter-content-section-title">
            Características do apartamento
        </div>
        <div class="filter-content-section-content">
            <div class="filter-content-section-content-row" *ngFor="let option of propertyFeatureOptions">
                <mat-checkbox [color]="'primary'" [(ngModel)]="option.value">{{ option.label }}</mat-checkbox>
            </div>
        </div>
    </div>

    <hr class="filter-content-section-separator">

    <div class="filter-content-section">
        <div class="filter-content-section-title">
            Detalhes do condomínio
        </div>
        <div class="filter-content-section-content">
            <div class="filter-content-section-content-row" *ngFor="let option of condominiumFeatureOptions">
                <mat-checkbox [color]="'primary'" [(ngModel)]="option.value">{{ option.label }}</mat-checkbox>
            </div>
        </div>
    </div>
</div>

<div class="filter-footer">
    <mat-toolbar class="pl-4 pr-4 pt-0">
        <mat-toolbar-row style="justify-content: center">
            <button mat-raised-button class="aplication-btn" (click)="onApplyClick($event)">Aplicar</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>