@import "~src/sass/variables"

.example-spacer 
    flex: 1 1 auto

.filter-content
  max-height: calc(100vh - 192px) //TODO: melhorar isso
  overflow-y: auto
  overflow-x: hidden
  padding: 0.521vw

.filter-content-section
  padding-top: 0.781vw
  padding-bottom: 0.781vw

.filter-content-section-title
  font-size: 0.938vw
  font-weight: 500
  height: 2.604vw
  line-height: 2.604vw

.filter-content-section-content-row
  width: 100%
  height: 2.604vw
  line-height: 2.604vw

.filter-content-section-separator
  margin: 0px
  padding: 0px

.slider
  width: 70%

.radio-button 
  margin: 0.260vw

.aplication-btn
  background-color: $color-primary 
  color: $color-white