@import "~src/sass/variables"

.mat-icon
    color: $color-primary
    width: 1vw

.title
    color: $color-primary
    font-size: 0.833vw
    font-weight: bold
    text-align: center
    padding: 0
    margin: 0.5% 0 0 5%

.subtitle
    color: $color-primary
    font-size: 0.833vw
    font-weight: bold
    text-align: left
    padding: 0
    margin: 0.5% 0 0 2%   

.title-green
    color: $color-secondary
    font-size: 0.833vw
    font-weight: bold
    text-align: left
    padding: 0
    margin: 0.5% 0 0 2% 
    
.content-text
    font-size: 0.833vw
    margin: 0 0 2% 1.8%