<p class="title-green">Por que {{adDetail.type == 1 ? "comprar" : "alugar"}} com a Vertra?</p>
<mat-toolbar-row>
        <mat-icon svgIcon="shakeHands" aria-hidden="false" [inline]="true"></mat-icon>
        <p class="title">Mais segurança e transparência</p>
</mat-toolbar-row>
        <p class="content-text">Todos os documentos e informações relevantes para a compra do imóvel são disponibilizados em nossa plataforma. Não precisa se preocupar</p>
<mat-toolbar-row>
        <mat-icon svgIcon="handPen" aria-hidden="false" [inline]="true"></mat-icon>
        <p class="title">Compre sem depender de ninguém</p>
</mat-toolbar-row>
        <p class="content-text">Agende visitas e negocie direto com nossos parceiros. Processos ágeis e fáceis</p>
<mat-toolbar-row>
        <mat-icon svgIcon="cuttingMoney" aria-hidden="false" [inline]="true"></mat-icon>
        <p class="title">Sem surpresas e custos escondidos</p>
</mat-toolbar-row>
        <p class="content-text">Já te contamos todos os preços, taxas envolvidos e prazos de entrega em cada processo, sem taxa surpresa ou demora</p>