<mat-card class="example-card">
  <app-photo-carousel class="img-carousel" [photos]="adCard.photos" [showControls]="showCarouselControls"></app-photo-carousel>
  <mat-card-content class="ad-card-content" [routerLink]="['/anuncio', this.adCard.id]">
    <p class="ad-card-price">
      {{Value() | currency: adCard.price.currency}}
    </p>
    <p class="ad-card-property">
        <mat-icon svgIcon="bedrooms" aria-hidden="false" class="property-icon"></mat-icon>
        {{adCard.property.features.bedrooms}}
        <mat-icon svgIcon="bathrooms" aria-hidden="false" class="property-icon"></mat-icon>
        {{adCard.property.features.bathrooms}}
        <mat-icon svgIcon="area" aria-hidden="false" class="property-icon"></mat-icon>
        {{adCard.property.features.area}}
    </p>
    <p class="ad-card-title">
      {{adCard.property.street}}
    </p>
    <p class="ad-card-subtitle">
      {{adCard.property.neighborhood}}, {{adCard.property.city}}
    </p>
  </mat-card-content>
  <mat-card-actions class="ad-card-action">
    <mat-toolbar-row>
      <button mat-icon-button *ngIf="showBtnSeeMap" (click)="onSeeOnMap($event)" class="btn-seemap">Ver no mapa</button>
      <span class="spacer"></span>
      <button mat-icon-button class="btn-favorite"> <mat-icon class="action-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> </button>
      <button mat-icon-button class="btn-delete"> <mat-icon class="action-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> </button>      
    </mat-toolbar-row>
  </mat-card-actions>
</mat-card>