@import "~src/sass/variables"

.mat-card
    padding: 0px !important
    //box-shadow: none !important //TODO decidir box shadow
    height: 90%
    outline: none

.mat-card:focus
    outline: none


.ad-card-content
    text-align: left
    cursor: pointer

    .ad-card-title
        font-size: 0.833vw
        font-weight: bold
        margin-bottom: 0px
        margin: 0.417vw 0 0 0.417vw

    .ad-card-subtitle
        font-size: 0.729vw
        margin: 0 0 0 0.417vw

    .ad-card-price
        font-size: 0.938vw
        font-weight: bold
        color: $color-primary
        margin: 0.417vw 0 0 0.417vw
    
    .ad-card-btn
        color: $color-white
        background-color: $color-primary
    
    .ad-card-property
        color: $color-tertiary
        margin: 0.417vw 0 0 0.417vw

.ad-card-content:focus
    outline: none

.ad-card-action
    position: relative
    bottom: 2.083vw

.btn-seemap
    color: $color-primary
    //background-color: $color-primary
    font-size: 0.938vw
    text-align: left
    position: relative
    top: 0.052vw
    padding: 0

.btn-seemap:focus
    outline: none

.btn-favorite
    color: $color-primary
    //background-color: $color-primary
    font-size: 0.938vw

.btn-favorite:focus
    outline: none

.btn-delete
    color: $color-primary
    //background-color: $color-primary
    font-size: 0.938vw
    margin-right: 0.521vw

.btn-delete:focus
    outline: none

.btn-seemap:hover
    color: $color-primary
    //background-color: $color-secondary
    font-size: 0.938vw

.property-icon
    color: $color-tertiary
    margin: 0 0.313vw 0 0.313vw

::ng-deep .mat-card
    border-radius: 1.563vw !important

.spacer
    flex: 1 1 auto

.action-icon
    padding: 0 0.729vw
    color: $color-primary

.img-carousel
    outline: none
    border: none
    