<!-- <agm-map [longitude]="coordinates.longitude" [latitude]="coordinates.latitude" [zoom]="15" [mapTypeId]="'satellite'">
</agm-map> -->

<div id="streetview-map" #streetviewMap></div>
<div id="streetview-pano" #streetviewPano></div>