@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"
@import "~src/sass/variables"

/* You can add global styles to this file, and also import other style files */
body
    margin: 0px
    padding: 0px

.btn-normal
    background-color: $color-primary
    color: white
    font-weight: normal

.mapboxgl-popup-content
    padding: 0px !important

.mat-form-field-label-wrapper
    margin-left: 2.083vw !important
    margin-top: 0.625vw  !important
    font-size:0.938vw !important

.mat-input-element
    margin-bottom: 0.521vw !important
    font-size:0.938vw !important

.mat-form-field-underline
    margin-bottom: 0.521vw !important

.mat-select-value-text
    font-size:0.729vw !important

.mat-select
    width: 18% !important

.mat-select-panel-wrap
    margin-left: 1.302vw

.ng5-slider 
    .ng5-slider-pointer
        background-color: $color-primary !important
    .ng5-slider-selection
        background-color: $color-primary !important

