<mat-toolbar-row>
    <mat-icon svgIcon="about" aria-hidden="false" [inline]="true"></mat-icon>
    <p class="title">Sobre esse imóvel</p>
</mat-toolbar-row>
<div [ngSwitch]="randomText">
    <p *ngSwitchCase="0" class="content-text">
        {{adDetail.property.type == 2 || adDetail.property.type == 3 ? "Ampla" : "Amplo"}} {{adDetail.property.type == 1 ? "apartamento" : ""}}{{adDetail.property.type == 2 ? "casa" : ""}}
        {{adDetail.property.type == 3 ? "casa em condomínio" : ""}}{{adDetail.property.type == 4 ? "studio" : ""}} para {{adDetail.type == 1 ? "comprar" : "alugar"}}
         com {{adDetail.property.features.bedrooms}} {{adDetail.property.features.bedrooms == 1 ? "quarto" : "quartos"}}, {{adDetail.property.features.bathrooms}} 
         {{adDetail.property.features.bedrooms == 1 ? "banheiro" : "banheiros"}} e {{adDetail.property.features.parkingSpaces}} {{adDetail.property.features.bedrooms == 1 ? "vaga" : "vagas"}}.
         {{adDetail.property.type == 2 || adDetail.property.type == 3 ? "Esta" : "Este"}} {{adDetail.property.type == 1 ? "apartamento" : ""}}{{adDetail.property.type == 2 ? "casa" : ""}}
         {{adDetail.property.type == 3 ? "casa em condomínio" : ""}}{{adDetail.property.type == 4 ? "studio" : ""}} é aconchegante, ideal para quem procura conforto e
         comodidade. Tem uma ótima localização no bairro {{adDetail.property.address.neighborhood}} {{neighborhoodDescription}}.</p>
    <p *ngSwitchCase="1" class="content-text">Amplo {{adDetail.property.type == 2 ? "casa" : ""}} </p>
    <p *ngSwitchCase="2" class="content-text">Amplo {{adDetail.property.type}} </p>
    <p *ngSwitchCase="3" class="content-text">Amplo {{adDetail.property.type}} </p>
    <p *ngSwitchCase="4" class="content-text">Amplo {{adDetail.property.type}} </p>
</div>
<mat-toolbar-row>
    <mat-icon svgIcon="floor" aria-hidden="false" [inline]="true"></mat-icon>
    <p class="title">Imóvel</p>
</mat-toolbar-row>
    <p class="subtitle">Disponível</p>
    <p class="content-text">{{adDetail.property.features.privateSwimmingPool == true ? "Piscina privativa," : ""}}
                            {{adDetail.property.features.pentHouse == true ? "Cobertura," : ""}}
                            {{adDetail.property.features.furnished == true ? "Mobiliado," : ""}}
                            {{adDetail.property.features.dce == true ? "Área de serviço," : ""}}</p>
<mat-toolbar-row>
    <mat-icon svgIcon="condominium" aria-hidden="false" [inline]="true" class="condominium"></mat-icon>
    <p class="title">Condomínio</p>
</mat-toolbar-row>
    <p class="subtitle">Disponível</p>
    <p class="content-text">{{adDetail.property.condominiumFeatures.acceptsPet == true ? "Aceita pets," : ""}}
                            {{adDetail.property.condominiumFeatures.elevator == true ? "Elevador," : ""}}
                            {{adDetail.property.condominiumFeatures.swimmmingPool == true ? "Piscina," : ""}}
                            {{adDetail.property.condominiumFeatures.academy == true ? "Academia," : ""}}
                            {{adDetail.property.condominiumFeatures.barbecue == true ? "Churrasqueira," : ""}}
                            {{adDetail.property.condominiumFeatures.gourmetSpace == true ? "Espaço gourmet," : ""}}
                            {{adDetail.property.condominiumFeatures.partyRoom == true ? "Salão de festas," : ""}}
                            {{adDetail.property.condominiumFeatures.playground == true ? "playground," : ""}}
                            {{adDetail.property.condominiumFeatures.fullTimeReception == true ? "Porteiro 24 horas," : ""}}
                            {{adDetail.property.condominiumFeatures.sauna == true ? "Sauna," : ""}}
    </p>
    <span class="codigo">Cód. Imóvel {{adDetail.id}}</span>