@import "~src/sass/variables"
    
.search-results
    max-height: calc(100vh - 128px) //TODO: melhorar isso
    overflow-y: auto
    overflow-x: hidden
    
#map-search
    height: $window-without-header

.ad-card