<app-header></app-header>

<div class="row m-0">
  <div class="col-md-5 m-0 p-0" style="text-align: center">
    <div class="ad-card-toolbar" *ngIf="!filterIsOpen">
      <app-ad-card-toolbar (filterClick)="showFilter()" (selectionOptionFilter)="firstAds()"></app-ad-card-toolbar>
    </div>

    <div class="search-results pb-4" infiniteScroll (scrolled)="onScrolled()" [scrollWindow]="false"
      [alwaysCallback]="true" [infiniteScrollDistance]="1" *ngIf="!filterIsOpen">
      <div class="row pl-4 pr-4 pt-0">
        <div class="col-md-6 mt-4" *ngFor="let adCard of adSearchService.adCards$ | async">
          <app-ad-card [adCard]="adCard" [showCarouselControls]="true" [showBtnSeeMap]="true"
            (seeMapClick)="openAdCardOnMap(adCard)"></app-ad-card>
        </div>
      </div>
    </div>

    <div class="ad-search-filter" *ngIf="filterIsOpen">
      <app-ad-search-filter (closeClick)="closeFilter()" (resetClick)="resetFilter()" (applyClick)="applyFilter($event)"
        [filter]="filter"></app-ad-search-filter>
    </div>
  </div>

  <div class="col-md-7 m-0 p-0" id="map-search">
    <app-map [adsData]="adsData" [adSeeOnMap]="adSeeOnMap" (mapMoveEnd)="mapMoveEnd($event)" [showCityLayer]="true"
      [mapZoom]="mapZoom" [mapCenter]="mapCenter" [adLayerControls]="true"></app-map>
  </div>
</div>