<mgl-popup *ngIf="feature" [lngLat]="feature.geometry.coordinates">
    <div style="width: 15.625vw">
        <h5>{{feature.properties['name']}}</h5>
        <p>{{feature.properties['rating']}}</p>
        <img [src]="feature.properties['photo']" style="width: 30%">
    </div>
</mgl-popup>