<mat-toolbar>
 <mat-toolbar-row class="header">
        <img src ="./../../assets/logos/vertraLanding.svg" class="logo">
        <div class="header-menu">
                <button mat-button class="btn-header">Comprar</button>
                <button mat-button class="btn-header">Vender</button>
                <button mat-button class="btn-header">Anunciar</button>
                <mat-divider [vertical]="true" class="divider"></mat-divider>
                <button mat-button class="btn-entrar">Entrar</button>
                <button mat-icon-button class="btn-menu"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon></button>
        </div>
</mat-toolbar-row>
</mat-toolbar>
<div class="call">
        <p class="title">Encontre aqui o imóvel que está procurando</p>
        <p class="subtitle">Informação, inteligência, transparência e segurança</p>
</div>
<mat-toolbar-row class="search-toolbar">
<mat-form-field class="search" floatLabel="never" appearance="outline">
        <button mat-button  matAffix mat-icon-button  (click)="search()">
                <mat-icon class="search-icon">search</mat-icon>
        </button>
                <input matInput type="text" placeholder="Belo Horizonte, MG, Brasil" [(ngModel)]="word" (keyup.enter)="search()">
        <button mat-button matSuffix (click)="search()" class="btn-search">
                Buscar
        </button>
</mat-form-field>
</mat-toolbar-row>
<img src ="./../../assets/background/landscape.svg" class="landscape">