@import "~src/sass/variables"

.mat-toolbar-header
    display: flex
    height: 100%
    background-color: $color-white
    color: white

.header    
    height: 100% 
    background-color: $color-white
    color: $color-white


.logo
    width: 25%
    margin: 1% 0 0 1%

.btn-header
    color: $color-primary
    font-size: 1.979vw
    text-align: left
    position: relative
    top: 0.052vw
    padding: 0
    display: inline
    margin: 3% 10% 0 0

.btn-header:focus
    outline: none

.btn-entrar
    color: $color-primary
    font-size: 1.979vw
    text-align: left
    position: relative
    top: 0.052vw
    padding: 0
    display: inline
    margin: 3% 0 0 8% 

.btn-entrar:focus
    outline: none

.menu-icon
    color: $color-primary
    font-size: 3.125vw
    margin: 0 0 35% 0

.btn-menu:focus
    outline: none
    border: none

.divider 
    color: $color-quaternary
    border: 0.104vw solid
    display: inline
    margin: 0 3% 1.042vw 0
    font-size: 2.344vw

.header-menu
    margin: 0 0 14% 30%

.call
    justify-content: center

.title
    font-size: 2.083vw
    font-weight: bold
    text-align: center
    padding: 0
    margin: 0

.subtitle
    font-size: 1.823vw
    font-weight: semi-bold
    text-align: center
    padding: 0
    margin: 0
    color: grey

.ad-search-header

.search
  width: 45%
  color: $color-secondary
  font-size: 60%
  margin: auto
  margin-top: 0.521vw
  padding: 1.042vw

.search-icon
  font-size: 310%
  margin-right: 1.563vw

::placeholder 
  color: $color-quaternary
  font-size: 1.146vw
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
  color: $color-secondary
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick
  color: $color-secondary

.search-toolbar
    justify-content: center

.btn-search
    background-color: $color-tertiary
    color: $color-white
    font-size: 1.146vw
    margin-right: 0.208vw

.landscape
    width: 100%
    padding: 0
    position: absolute 
    bottom: 0


